# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run/banned-ips.json
run/banned-players.json
run/config
run/eula.txt
run/mods
run/ops.json
run/options.txt
run/resourcepacks/*
run/saves/*
run/server.properties
run/servers.dat
run/server-resource-packs/*
run/usercache.json
run/usernamecache.json
run/whitelist.json

#Forge
README.txt
LICENSE-new.txt
MinecraftForge-Credits.txt
Paulscode SoundSystem CodecIBXM License.txt
CREDITS-fml.txt
forge-1.10.2-12.18.1.2073-changelog.txt